<% include partials/_header %>
    <div class="container about confirm">
        <article class="article">
            <header class="header">
                <h2 class="text-center">Order Placed!</h2>
            </header>
            <div class="content text-center">
                <h4>Thank You!</h4>
                <p >We will send your order detail via message</p>
            </div>
            <footer class="bottom">

            </footer>
        </article>
    </div>
    <% include partials/_footer %>