
    <% include partials/_header %>
      <div class="wallpaper margin-top">
        <!-- <img src="images/pizzawall.jpg" class="background"> -->
        <div class="carousel-caption">
          <h1 class="display-2">PIZZA UTO</h1>
          <h3>Discover The Real Pizza</h3>
          <form method="POST" action="/">
            <button type="submit" onclick="location.href='/menu'" class="btn btn-primary btn-lg">Order Now</button>
          </form>
        </div>
      </div>

    <% include partials/_footer %>
