<% include partials/_header %>
    <div class=" container about">
        <div class="container-fluid">
            <h1>pizza</h1>
            <div class="container row">
                <div class="col-md-6">
                    <p>peperoni</p>
                    <form method="POST" action="/order">
                        <button class="add-to-cart">add</button>
                    </form>
                </div>
                <div class="col-md-6">
                        <p>chicken</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h1>Burger</h1>
            <div class="container row">
                <div class="col-md-6">
                    <p>peperoni</p>
                    <form method="POST" action="/order">
                        <button class="add-to-cart">add</button>
                    </form>
                </div>
                <div class="col-md-6">
                        <p>chicken</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                </div>
            </div>
        </div>
        <div class="container-fluid">
                <h1>Drinks</h1>
                <div class="container row">
                    <div class="col-md-6">
                        <p>peperoni</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                            <p>chicken</p>
                            <form method="POST" action="/order">
                                <button class="add-to-cart">add</button>
                            </form>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                    <h1>Wings</h1>
                    <div class="container row">
                        <div class="col-md-6">
                            <p>peperoni</p>
                            <form method="POST" action="/order">
                                <button class="add-to-cart">add</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                                <p>chicken</p>
                                <form method="POST" action="/order">
                                    <button class="add-to-cart">add</button>
                                </form>
                        </div>
                    </div>
                </div>
        

    </div>




<% include partials/_footer %>