<% include partials/_header %>
    <div>
        <div>
            <h1>pizza</h1>
            <div></div>
        </div>
        <div>
            <div>
                <h1>Sides</h1>
                <div></div>
            </div>

        </div>
    </div>




<% include ./_navbar %>