<% include partials/_header %>
   <script type="text/javascript" src="/scripts/menu.js"></script>
   <div class=" container about">
       <div class="container-fluid cat-cont">
             <div class="cat-name cat-p text-center"> 
                <h1>Pizza</h1>
             </div>
            <div id="content-p">
                <div class="container row" id="pizza-container">
                    <!-- <div class="col-md-6 item">
                        <p class="item-name">Bufflo chicken</p>
                        <p class="price">$12.00</p>
                        
                        <div class="size form-group">
                                <label for="sel1">Select size:</label>
                                <select id ="Select1" class="input-large">
                                    <option>small</option>
                                    <option>medium</option>
                                    <option>large</option>
                                </select>
                        </div>
                        <button class="add-to-cart btn btn-outline-info btn-lg" id="1"><i class="fas fa-cart-plus"></i> Add</button>
    
                         <form method="POST" action="/menu">
                        </form> 
                    </div> -->
                </div>
            </div>
            
            
       </div>
       <div class="container-fluid">
            <div class="cat-name cat-b text-center" >
                <h1>Burger</h1>
            </div >
            <div id="content-b">
                <div class="container row" id="burger-container">
                </div>
            </div>
     
          
           
       </div>
       <div class="container-fluid">
            <div class="cat-name cat-d text-center" >
                <h1>Drinks</h1>
            </div>
            <div id="content-d">
                <div class="container row" id="drinks-container">
                </div>
            </div>
               
         </div>
         <div class="container-fluid">
            <div class="cat-name cat-w text-center">
                <h1>Wings</h1>
            </div>
            <div id="content-w">
                <div class="container row" id="wings-container">
                </div>
            </div>
             
         </div>
         <div class="container-fluid">
            <div class="cat-name cat-s text-center">
                <h1>Salads</h1>
            </div>
            <div id="content-s">
                <div class="container row" id="salads-container">
                </div>
            </div>
             
         </div>
   </div>





<% include partials/_footer %>
