<% include partials/_header %>
    <script type="text/javascript" src="/scripts/menu.js"></script>
    <div class=" container about">
        <div class="container-fluid">
            <h1>pizza</h1>
            <div class="container row" id="pizza-container">
            </div>
        </div>
        <div class="container-fluid">
            <h1>Burger</h1>
            <div class="container row" id="burger-container">
            </div>
        </div>
        <div class="container-fluid">
                <h1>Drinks</h1>
                <div class="container row" id="drinks-container">
                </div>
          </div>
          <div class="container-fluid">
              <h1>Wings</h1>
              <div class="container row" id="wings-container">
              </div>
          </div>
          <div class="container-fluid">
              <h1>Salads</h1>
              <div class="container row"id="salads-container">
              </div>
          </div>
    </div>
    <body>Menu</body>




<% include partials/_footer %>
