<% include partials/_header %>
    <div class=" container about">
        <div class="container-fluid">
            <h1>pizza</h1>
            <div class="container row">
                <div class="col-md-6">
                    <p>peperoni</p>
                    <button class="add-to-cart">add</button>
                </div>
                <div class="col-md-6">
                        <p>chicken</p>
                        <button class="add-to-cart">add</button>
                    </div>
            </div>
        </div>
        <div>
            <div>
                <h1>Sides</h1>
                <div></div>
            </div>

        </div>
    </div>




<% include partials/_footer %>