<% include partials/_header %>
   <script type="text/javascript" src="/scripts/menu.js"></script>
   <div class=" container about menu">
       <div class="container-fluid cat-cont">
             <div class="cat-name cat-p text-center ">
                <h1>Pizza</h1>
             </div>
            <div id="content-p">
                <div class="container row" id="pizza-container">
                </div>
            </div>


       </div>
       <div class="container-fluid">
            <div class="cat-name cat-b text-center" >
                <h1>Burger</h1>
            </div >
            <div id="content-b">
                <div class="container row" id="burger-container">
                </div>
            </div>



       </div>
       <div class="container-fluid">
            <div class="cat-name cat-d text-center" >
                <h1>Drinks</h1>
            </div>
            <div id="content-d">
                <div class="container row" id="drinks-container">
                </div>
            </div>

         </div>
         <div class="container-fluid">
            <div class="cat-name cat-w text-center">
                <h1>Wings</h1>
            </div>
            <div id="content-w">
                <div class="container row" id="wings-container">
                </div>
            </div>

         </div>
         <div class="container-fluid">
            <div class="cat-name cat-s text-center">
                <h1>Salads</h1>
            </div>
            <div id="content-s">
                <div class="container row" id="salads-container">
                </div>
            </div>

         </div>
   </div>





<% include partials/_footer %>

