<% include partials/_header %>
    <div class=" container about">
        <div class="container-fluid">
            <h1>pizza</h1>
            <div class="container row">
                <div class="col-lg-12">
                    <p>Create you own</p>
                    <form action="/order" method="post">
                        <button class="add-to-cart">add</button>
                    </form>
                </div>
            </div>  
            <div class="container row">
                <div class="col-md-6" >
                    <p>peperoni</p>
                    <form method="POST" action="/order">
                        <button class="add-to-cart">add</button>
                    </form>
                </div>
                <div class="col-md-6">
                        <p>Bufflo chicken</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                </div>
            </div>
            <div class="container row">
                <div class="col-md-6">
                    <p>Chipotle Steak</p>
                    <form method="POST" action="/order">
                        <button class="add-to-cart">add</button>
                    </form>
                </div>
                <div class="col-md-6">
                        <p>Classic Super</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                </div>
            </div>
            <div class="container row">
                <div class="col-md-6">
                    <p>Garden Veggie</p>
                    <form method="POST" action="/order">
                        <button class="add-to-cart">add</button>
                    </form>
                </div>
                <div class="col-md-6">
                        <p>Tropical Hawaiian</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                </div>
            </div>
            <div class="container row">
                <div class="col-md-6">
                    <p>Cheese</p>
                    <form method="POST" action="/order">
                        <button class="add-to-cart">add</button>
                    </form>
                </div>
                <div class="col-md-6">
                        <p>Hot and Spicy</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                </div>
            </div>
            <div class="container row">
                <div class="col-md-6">
                    <p>Sweet Heat</p>
                    <form method="POST" action="/order">
                        <button class="add-to-cart">add</button>
                    </form>
                </div>
                <div class="col-md-6" id="2">
                        <p>Chipotle Chicken</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h1>Burger</h1>
            <div class="container row">
                <div class="col-md-6" id="11">
                    <p>Chicken</p>
                    <form method="POST" action="/order">
                        <button class="add-to-cart">add</button>
                    </form>
                </div>
                <div class="col-md-6" id="12">
                        <p>Cheese</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                </div>
            </div>
            <div class="container row">
                <div class="col-md-6" id="13">
                    <p>Ham</p>
                    <form method="POST" action="/order">
                        <button class="add-to-cart">add</button>
                    </form>
                </div>
                <div class="col-md-6" id="14">
                        <p>Veggie</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                </div>
            </div>
        </div>
        <div class="container-fluid">
                <h1>Drinks</h1>
                <div class="container row">
                    <div class="col-md-6" id="15">
                        <p>Coca-Cola</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <p>Sprite</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                    </div>
                </div>
                <div class="container row">
                    <div class="col-md-6">
                        <p>Iced-Tea</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                            <p>Cold Coffee</p>
                            <form method="POST" action="/order">
                                <button class="add-to-cart">add</button>
                            </form>
                    </div>
                </div>
                <div class="container row">
                    <div class="col-md-6">
                        <p>Orange Juice</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                            <p>Ginger Ale</p>
                            <form method="POST" action="/order">
                                <button class="add-to-cart">add</button>
                            </form>
                    </div>   
                </div>
                <div class="container row">
                    <div class="col-md-6">
                        <p>Gatorade</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                    </div>
                </div>
            </div>
        
            <div class="container-fluid">
                <h1>Wings</h1>
                <div class="container row">
                    <div class="col-md-6">
                        <p>Spicy Wings</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <p>Bufflo Wings</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                        </div>
                    </div>
                    <div class="container row">
                        <div class="col-md-6">
                            <p>BBQ Wings</p>
                            <form method="POST" action="/order">
                                <button class="add-to-cart">add</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <p>Chipole</p>
                            <form method="POST" action="/order">
                                <button class="add-to-cart">add</button>
                            </form>
                        </div>
                    </div>
                    <div class="container row">
                        <div class="col-md-6">
                            <p>Orange Glazed Wings</p>
                            <form method="POST" action="/order">
                                <button class="add-to-cart">add</button>
                            </form>
                        </div>
                    </div>
            </div>
            <div class="container-fluid">
                <h1>salad</h1>
                <div class="container row">
                    <div class="col-md-6">
                        <p>Ceasar</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                            <p>Garden</p>
                            <form method="POST" action="/order">
                                <button class="add-to-cart">add</button>
                            </form>
                    </div>
                </div>
                <div class="container row">
                    <div class="col-md-6">
                        <p>Summer</p>
                        <form method="POST" action="/order">
                            <button class="add-to-cart">add</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <p>Greek</p>
                        <form method="POST" action="/order">
                                <button class="add-to-cart">add</button>
                        </form>
                    </div>
                </div>
            </div>
        

    </div>




<% include partials/_footer %>