<% include partials/_header %>
<script type="text/javascript" src="/scripts/order.js"></script>
<div class="container about margin-top menu">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody id="order-container">
    </tbody>
    <tfoot>
<!--       <tr class="visible-xs">
        <td class="text-center"><strong>Total 1.99</strong></td>
      </tr> -->
      <tr>
        <td><a href="/menu" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
        <td colspan="2" class="hidden-xs"></td>
        <td id="order-total" class="hidden-xs text-center"></td>
        <td><a href="/checkout" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
      </tr>
    </tfoot>
  </table>
</div>
<% include partials/_footer %>
