body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.about{
  margin-top: 13%
}

footer{
  background-color: #EEE;

}

// *{
//   border: 1px solid black;
// }

.col-md-2{
  width: 49.66666666%;
}