body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;

}


 .wallpaper{
  background-image: url("/images/pizzawall.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 675px;
  position: relative;

}
.logo{
  height: 80px;
  width: 80px;
  position: relative;
}
 #content-b {
  display: none;
}
#content-d{
  display: none;
}
#content-w{
  display: none;
}
#content-s{
  display: none;
}
.cat-name{
  background-color: #e9ecef;
  color: #333;
  border-radius: 10px;
}
.item{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #e9ecef;
  border-radius: 25px;
  height: 214px;
}
.item-name{
  font-weight: bold;
  font-size: 31px;
  padding-top: 26px;
}
.price{
  left: 78%;
  position: relative;
  font-size: 24px;
  top: -22%;
}
.size{
  position: relative;
  top: -8%;
}
.add-to-cart{
  position: relative;
  left: 75%;
  width: 20%;
  height: 19%;
  top: -85px;
}
select{
  height: 146%;
  widows: 21%;;
}
label{
  font-size: x-large;
}
.wallpaper .carousel-caption{
  padding-bottom: 211px;
}

.margin-top{
  min-height: 760px;
  margin-top: 4%;
}

.about{
  margin-top: 6%;
  min-height: 625px;

}
.billing{
  font-size:30px;
  font-weight: bold;

}
footer{
  background-color: #333;
  color: azure;

}
.margin-more{
  margin-top: 7%;
}
// *{
//   border: 1px solid black;
// }

.article{
  top: 120px;
  position: relative;
  border: 2px solid #e9ecef;
  width: 39%;
  left: 29%;

}
.header{
  padding-top: 18px;
  background-color: #e9ecef;
  font-style: oblique;
}
.content{
  padding: 32px;
}
#mainNavbar{
  font-size: 1.5rem;
  font-weight: 100;
  background-color: #333;
}
#mainNavbar .nav-link{
  color: white;
}

#mainNavbar .nav-link:hover{
  color:#EA1C2C ;
}

#mainNavbar .navbar-brand{
  color: #EA1C2C;

}
#headingGroup span{
  color: #EA1C2C;
}

#headingGroup h1{
  font-weight: 100;
  font-size: 4rem;
}

img .logo{
  width: 80px;
  height: 80px;
  display: block;
  position: relative;
  margin-right: 50px;

}
.count-number{
  position: relative;
  top: -31px;
  right: 19px;
  color: azure;
  background-color: red;
  padding: 0px 6px;
  border-radius: 100px;
}
.shopping-cart{
  position: relative;
  left: 399%;
  bottom: -2px;
}
.fa-2x{
  font-size: 37px;
}
.cart{
  color: azure;
}
.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}

.menu{
  margin-top: 13%;
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }
  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }
  .actions .btn-info {
    float: left;
  }
  .actions .btn-danger {
    float: right;
  }
  table#cart thead {
    display: none;
  }
  table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
  }
  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }
  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }
  table#cart tfoot td {
    display: block;
  }
  table#cart tfoot td .btn {
    display: block;
  }
}

.checkbox-container{
  position: relative;
  right: 246px;
}
td.hidden-xs.text-center{
  position: relative ;
  right: 215px;
}
a.btn.btn-success.btn-block{
  width: 68%;
  margin-left: 33px;
}

div.size.form-group{
  margin-top: 82px;
}

table#cart.table.table-hover.table-condensed{
  margin-left: 10%;
}
